html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1240px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 550px) {
  :root {
    font-size: 5px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 4.1px;
  }
}

.mainwrapp {
  height: 100vh;
  background-image: url(./images/main-page-background-eagle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainwrapp nav {
  margin: 0 auto;
  width: 63.15789473684211%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1.5em;
}

.mainwrapp nav div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
}

.mainwrapp nav ul {
  display: block;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainwrapp nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 0 1.7em 0.5em 1.7em;
}

.mainwrapp nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.mainwrapp nav ul li a:hover {
  color: #fce38a;
  display: block;
  border-bottom: 2px solid #fce38a;
  padding-bottom: 13px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.mainwrapp section {
  display: block;
  margin: 0 auto;
  width: 63.15789473684211%;
  text-align: center;
  color: #ffffff;
}

.mainwrapp section h2 {
  margin-top: 10%;
  font-size: 4.5rem;
  padding-bottom: 3vh;
  font-family: "Kaushan Script", cursive;
}

.mainwrapp section h1 {
  font-size: 9.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
}

.mainwrapp section div {
  display: block;
  margin: 0 auto;
  width: 6%;
  border-bottom: 2px solid #ffffff;
}

.mainwrapp section input {
  border: 2px solid #ffffff;
  background: rgba(255, 255, 255, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 12px 28px 12px 28px;
  color: #ffffff;
  margin-top: 6vh;
}

.mainwrapp .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 63.15789473684211%;
  margin: 0 auto;
}

.mainwrapp .lines div {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
}

.mainwrapp .lines .first-line {
  display: inline-block;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  width: 22%;
  margin-top: 8%;
  color: #ffffff;
}

.mainwrapp .lines .first-line h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 4px 3px 0 0;
  float: left;
  margin-top: 25px;
}

.mainwrapp .lines .first-line h3 {
  float: left;
  padding: 9px 3px 0 0;
  margin-top: 25px;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
}

.mainwrapp .lines .first-line::after {
  content: ' ';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width .3S;
  transition: width .3S;
}

.mainwrapp .lines .first-line:hover::after {
  width: 100%;
  -webkit-transition: width .3S;
  transition: width .3S;
}

.second-wrap {
  display: block;
  margin: 0 auto;
  width: 63.15789473684211%;
  font-size: 0;
}

.second-wrap section {
  margin: 0 auto;
  text-align: center;
  color: #000000;
  font-size: 0rem;
}

.second-wrap section h2 {
  margin: 92px 0 23px 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
}

.second-wrap section h1 {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0 0 40px 0;
  padding: 0;
}

.second-wrap section .bruksnys {
  display: block;
  border-bottom: 2px solid #f38181;
  width: 5%;
  margin: 0 auto;
}

.second-wrap section p {
  color: #999999;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4%;
  margin-top: 2%;
}

.second-wrap #images {
  display: block;
  margin: 0 auto;
  font-size: 0rem;
  padding-bottom: 10vh;
}

.second-wrap #images .laikantis {
  position: relative;
  display: inline-block;
}

.second-wrap #images .laikantis .container:hover .overlay {
  opacity: 1;
}

.second-wrap #images .laikantis .overlay {
  position: absolute;
  top: -15px;
  left: -15px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.second-wrap #images .laikantis-a {
  display: inline-block;
  position: relative;
}

.second-wrap #images .laikantis-a .container-a:hover .overlay {
  opacity: 1;
}

.second-wrap #images .laikantis-a .overlay-a {
  position: absolute;
  top: -15px;
  left: -15px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.thrid-wrap {
  background-color: #95e1d3;
}

.thrid-wrap .lining {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0rem;
  margin: 0 auto;
  width: 63.15789473684211%;
  align-items: center;
}

.thrid-wrap .lining .box {
  width: 20%;
  border-left: 1px solid #ffffff;
  padding: 3%;
  text-align: center;
}

.thrid-wrap .lining .box h1 {
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 0.25em;
}

.thrid-wrap .lining .box h2 {
  font-size: 0.63rem;
  font-family: "Montserrat", sans-serif;
}

.thrid-wrap .lining #last {
  border-right: 1px solid #ffffff;
}

.fourth-wrap {
  display: block;
  margin: 0 auto;
  width: 63.15789473684211%;
  font-size: 0;
}

.fourth-wrap section {
  text-align: center;
  margin: 0;
  color: #000000;
  margin-bottom: 66px;
}

.fourth-wrap section h2 {
  font-size: 1.5rem;
  margin: 109px 0 22px 0;
  padding: 0;
  font-family: "Kaushan Script", cursive;
}

.fourth-wrap section h1 {
  font-size: 1.875rem;
  margin: 0 0 29px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.fourth-wrap section .bruksnys {
  display: block;
  border-bottom: 2px solid #f38181;
  width: 5%;
  margin: 0 auto;
}

.fourth-wrap .icon-text {
  display: block;
  vertical-align: top;
  font-size: 0rem;
  margin: 0 auto;
}

.fourth-wrap .icon-text .icon-tex2 {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 50px;
}

.fourth-wrap .icon-text img {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 34px;
  height: 34px;
}

.fourth-wrap .icon-text .second-div {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 80%;
  color: #000000;
}

.fourth-wrap .icon-text .second-div h1 {
  display: block;
  margin: 0 0 19px 28px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000000;
}

.fourth-wrap .icon-text .second-div p {
  display: block;
  margin: 0 0 0 28px;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

.fourth-wrap hr {
  margin-bottom: 49px;
}

.fivth-wrap {
  background-image: url(./images/Phones/backgroun-image.jpg);
  background-repeat: no-repeat;
  height: 850px;
  position: relative;
}

.fivth-wrap .new-design h3 {
  padding: 110px 0 22px 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  color: #000000;
}

.fivth-wrap .new-design h1 {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000000;
}

.fivth-wrap .new-design div {
  display: block;
  border-bottom: 2px solid #f38181;
  width: 5%;
  margin: 0 auto;
}

.fivth-wrap #big-phone {
  position: absolute;
  bottom: 5px;
  left: 535px;
  height: 555px;
}

.fivth-wrap #small-phone {
  position: absolute;
  bottom: -53px;
  left: 910px;
}

.six-wrap #six-section {
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
}

.six-wrap #six-section h2 {
  margin-top: 117px 0 33px 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
}

.six-wrap #six-section h1 {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.six-wrap #six-section div {
  display: block;
  border-bottom: 2px solid #f38181;
  width: 5%;
  margin: 0 auto;
}

.six-wrap #six-section p {
  color: #999999;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 92px;
}

.six-wrap div {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 115px;
}

.six-wrap div img {
  display: inline-block;
  width: 50%;
}

.six-wrap div div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  width: 48%;
  vertical-align: top;
  margin-left: 15px;
}

.six-wrap div div div {
  display: block;
  border: 1px solid #999999;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 15px;
}

.six-wrap div div div img {
  width: 34px;
  height: 34px;
}

.six-wrap div div div label {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  color: #000000;
  font-weight: 600;
}

.six-wrap div div div i {
  margin: 10px 10px 0 0;
  float: right;
  border: solid #999999;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.seventh-wrap {
  background-color: #f8f8f8;
}

.seventh-wrap #Qoute {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 63.15789473684211%;
  padding-top: 70px;
  padding-bottom: 78px;
  color: #000000;
}

.seventh-wrap #left-arrow {
  height: 24px;
  width: 15px;
}

.seventh-wrap img {
  display: inline-block;
  margin: 0 30px 0 15px;
}

.seventh-wrap div {
  display: inline-block;
  width: 67%;
  vertical-align: top;
}

.seventh-wrap div p {
  display: block;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999999;
}

.seventh-wrap div #qoutborder {
  float: left;
  border: 2px solid #f38181;
  width: 60px;
  margin-top: 40px;
}

.seventh-wrap div h3 {
  margin: 30px 0 0 10px;
  float: left;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
}

.seventh-wrap #right-arrow {
  height: 24px;
  width: 15px;
}

.eight-wrap #Team {
  display: block;
  color: #000000;
  margin: 0 auto;
  font-size: 0;
  width: 63.15789473684211%;
  text-align: center;
}

.eight-wrap #Team #who {
  color: #000000;
  margin-top: 117px 0 33px 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  margin-top: 102px 0 0 0;
}

.eight-wrap #Team #meet {
  color: #000000;
  margin-top: 117px 0 33px 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.eight-wrap #Team div {
  border: 2px solid #f38181;
  width: 6%;
  margin: 2.5% auto;
}

.eight-wrap #Team #info {
  margin: 45px 0 0 0;
  color: #999999;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 91px;
}

.eight-wrap #team2 {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 50px;
}

.eight-wrap #team2 .members {
  display: inline-block;
  padding-bottom: 30px;
  text-align: center;
  width: 33.33%;
}

.eight-wrap #team2 .members img {
  width: 94%;
  padding-bottom: 30px;
}

.eight-wrap #team2 .members h3 {
  padding-bottom: 30px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.eight-wrap #team2 .members h4 {
  font-size: 1rem;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.nineth-wrap {
  display: block;
  background-color: #f8f8f8;
}

.nineth-wrap div {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 50px;
}

.tenth-wrap section {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 50px;
}

.tenth-wrap section h2 {
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  margin: 110px 0 0 0;
}

.tenth-wrap section h1 {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.tenth-wrap section div {
  border-bottom: 2px solid #f38181;
  margin-bottom: 42px;
}

.tenth-wrap section p {
  color: #999999;
  height: 50px;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 112px;
}

.eleventh-wrap {
  display: block;
  font-size: 0;
}

.eleventh-wrap #first-block {
  display: inline-block;
  width: 48.5%;
  vertical-align: top;
}

.eleventh-wrap #first-block img {
  display: inline-block;
  width: 50%;
  height: 350px;
}

.eleventh-wrap #second-block {
  display: inline-block;
  width: 48.9%;
}

.eleventh-wrap #second-block #pirmoji {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.eleventh-wrap #second-block #pirmoji #meduza {
  height: 700px;
}

.eleventh-wrap #second-block #likusios-dvi {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.eleventh-wrap #second-block #likusios-dvi img {
  display: inline-block;
  max-height: 350px;
}

.tvelvth-wrap #testimonial {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 63.15789473684211%;
  padding-top: 70px;
  padding-bottom: 78px;
  color: #000000;
}

.tvelvth-wrap #left-arrow {
  height: 24px;
  width: 15px;
}

.tvelvth-wrap img {
  display: inline-block;
  margin: 0 30px 0 15px;
  height: 211px;
  width: 211px;
  border-radius: 50%;
}

.tvelvth-wrap div {
  display: inline-block;
  width: 58%;
  vertical-align: top;
}

.tvelvth-wrap div p {
  display: block;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999999;
}

.tvelvth-wrap div #qoutborder {
  float: left;
  border: 2px solid #f38181;
  width: 60px;
  margin-top: 40px;
}

.tvelvth-wrap div h3 {
  margin: 30px 0 0 10px;
  float: left;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
}

.tvelvth-wrap #right-arrow {
  height: 24px;
  width: 15px;
}

.thirtynth-wrap {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/what-people-say/background-image.jpg);
  padding-bottom: 5vh;
}

.thirtynth-wrap section {
  color: #000000;
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 63.15789473684211%;
}

.thirtynth-wrap section h2 {
  padding: 10vh 0 2vh 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  margin: 0px;
}

.thirtynth-wrap section h1 {
  font-size: 1.875rem;
}

.thirtynth-wrap section div {
  border-bottom: 2px solid #f38181;
}

.thirtynth-wrap #people-say {
  color: #000000;
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 63.15789473684211%;
  padding-bottom: 6vh;
}

.thirtynth-wrap #people-say div {
  margin-top: 3vh;
}

.thirtynth-wrap #people-say div div {
  display: inline-block;
  width: 50%;
}

.thirtynth-wrap #people-say div div img {
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  width: 20%;
}

.thirtynth-wrap #people-say div div div {
  display: inline-block;
  width: 70%;
  margin: 0 0 0 20px;
}

.thirtynth-wrap #people-say div div div h1 {
  margin-top: 1vh;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 600;
}

.thirtynth-wrap #people-say div div div h2 {
  margin-top: 1vh;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.thirtynth-wrap #people-say div div div div {
  border-bottom: 2px solid #f38181;
  width: 16%;
  margin-top: 1vh;
  margin-left: 0;
}

.thirtynth-wrap #people-say div div div p {
  margin-top: 2vh;
  color: #999999;
  font-size: 1rem;
}

.fourthynth-wrap #Blog {
  display: block;
  color: #000000;
  margin: 0 auto;
  font-size: 0;
}

.fourthynth-wrap #Blog h2 {
  color: #000000;
  margin-top: 117px 0 33px 0;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  margin-top: 102px 0 0 0;
}

.fourthynth-wrap #Blog h1 {
  color: #000000;
  margin-top: 117px 0 33px 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.fourthynth-wrap #Blog div {
  border-bottom: 2px solid #f38181;
  margin-bottom: 6vh;
}

.fourthynth-wrap #Blog #info {
  margin: 45px 0 0 0;
  color: #999999;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 91px;
}

.fourthynth-wrap #blog-entries {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 50px;
}

.fourthynth-wrap #blog-entries .members {
  display: inline-block;
  padding-bottom: 30px;
  text-align: center;
  width: 33.33%;
  position: relative;
}

.fourthynth-wrap #blog-entries .members img {
  width: 94%;
  padding-bottom: 30px;
  margin-right: 20px;
}

.fourthynth-wrap #blog-entries .members .Sqoure-date {
  background-color: #95e1d3;
  height: 71px;
  width: 61px;
  position: absolute;
  bottom: 180px;
  left: -5px;
  z-index: 2;
}

.fourthynth-wrap #blog-entries .members .Sqoure-date h1 {
  margin-top: 15px;
  color: #ffffff;
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.fourthynth-wrap #blog-entries .members .Sqoure-date h3 {
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

.fourthynth-wrap #blog-entries .members h3 {
  padding-bottom: 30px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.fourthynth-wrap #blog-entries .members h4 {
  font-size: 1rem;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 2vh;
}

.fourthynth-wrap #blog-entries .members .hr-under {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.fourthynth-wrap #blog-entries .members div {
  display: inline-block;
  color: #999999;
  float: left;
}

.fourthynth-wrap #blog-entries .members div img {
  margin: 0 10px 0 16px;
  padding: 5px 0 0 0;
  display: inline-block;
  color: #999999;
  font-size: 0.9375rem;
  width: 18px;
  height: 18px;
  vertical-align: top;
  float: left;
}

.fourthynth-wrap #blog-entries .members div h4 {
  margin: 0;
  padding: 8px 0 0 0;
  display: inline-block;
  color: #999999;
  font-size: 0.9375rem;
  vertical-align: top;
  float: left;
}

.map {
  background-image: url(./images/map/map-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.map div {
  display: block;
  margin: 0 auto;
  font-size: 4rem;
  padding: 5vh 0 0 0;
}

.map div img {
  display: block;
  margin: 0 auto;
  width: 22px;
  height: 28px;
}

.map div h1 {
  padding: 1vh 0 2vh 0;
  text-align: center;
  font-size: 1.5rem;
  color: #f38181;
}

.map div div {
  border-top: 2px solid #f38181;
  width: 3%;
}

.footer {
  background-color: f8f8f8;
}

.footer #lygiuote {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
  font-size: 0;
  border-bottom: 1px solid #999999;
  padding-bottom: 5vh;
}

.footer #lygiuote #footer-info {
  display: inline-block;
  width: 33%;
  font-size: 1rem;
}

.footer #lygiuote #footer-info h1 {
  font-size: 2.875rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #999999;
  margin-top: 6vh;
  padding-bottom: 6vh;
}

.footer #lygiuote #footer-info p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  color: #999999;
  padding-bottom: 4vh;
  padding-right: 2vh;
}

.footer #lygiuote #footer-info h5 {
  display: inline-block;
  width: 6%;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1vh;
}

.footer #lygiuote #footer-info h4 {
  display: inline-block;
  width: 50%;
  padding-left: 1vh;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

.footer #lygiuote #footer-info hr {
  margin-right: 2vh;
}

.footer #lygiuote #footer-info h3 {
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
  padding: 1vh 0 3vh 0;
}

.footer #lygiuote #footer-info #email {
  margin: -2px;
  padding: 0;
  border: 1px solid #999999;
  padding: 8px;
  width: 45%;
  margin-left: -4px;
  background-color: #ffffff;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.footer #lygiuote #footer-info #subscribe {
  margin: -2px;
  padding: 0;
  border: 1px solid #999999;
  border-left: none;
  padding: 8px;
  background-color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.875rem;
}

.footer #footer-blogs {
  display: inline-block;
  width: 33%;
  font-size: 1rem;
  vertical-align: top;
}

.footer #footer-blogs h1 {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  margin: 6vh 0 8vh 0;
  font-weight: 500;
}

.footer #footer-blogs div {
  vertical-align: top;
  display: block;
  width: 100%;
  margin: 1vh 0 1vh 0;
}

.footer #footer-blogs div img {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.footer #footer-blogs div div {
  display: inline-block;
  width: 50%;
}

.footer #footer-blogs div div p {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 1vh;
}

.footer #footer-blogs div div h4 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  color: #999999;
  font-style: italic;
  text-align: left;
  margin: 0.7vh 0 0 1vh;
}

.footer #foter-insta {
  display: inline-block;
  width: 33%;
  font-size: 1rem;
  color: #000000;
  vertical-align: top;
}

.footer #foter-insta h1 {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  margin: 6vh 0 5vh 0;
  font-weight: 600;
}

.footer #foter-insta div {
  display: block;
  font-size: 0;
}

.footer #foter-insta div img {
  display: inline-block;
}

.footer #foter-insta h4 {
  margin-top: 1.5vh;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.8125rem;
}

.info {
  display: block;
  color: #000000;
  width: 63.15789473684211%;
  margin: 0 auto;
}

.info p {
  text-align: center;
  padding: 3vh 0 0vh 0;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

.info p span {
  color: red;
}
/*# sourceMappingURL=styles.css.map */